---
// TYPES
import type { IProject } from '@/interfaces'

// PROPS
interface Props {
  project: IProject
}
const { project } = Astro.props

// COMPONENTS
import { ImageHandler, Link } from '@/components'

// VENDOR
import { micromark } from 'micromark'
import dayjs from 'dayjs'
---

<!-- <Link
  link={{
    url: `/project/${project.url}/`,
  }}
> -->
<article
  class="p-2 rounded-lg text-white"
  style={{
    backgroundColor: project.client.brandColor,
  }}
  transition:name={`project/${project.url}`}
  transition:persist
>
  <div class="grid md:grid-cols-2">
    <div class="max-md:mb-2">
      {
        project.thumbnail && (
          <ImageHandler
            cssClass="max-md:w-full max-md:max-h-[300px] rounded"
            img={project.thumbnail}
            nonStandardRatio
            fullWidth
          />
        )
      }
    </div>
    <div class:list={['py-1 md:py-2 lg:py-3', 'px-2 md:px-4 lg:px-5']}>
      <div class="mb-1 lg:mb-4 opacity-90">
        {dayjs(project.dateStart).format('YYYY')} — {
          project.ongoing ? 'Ongoing' : dayjs(project.dateEnd).format('YYYY')
        }
      </div>
      <h3 class="h3 lh-h3-vtrim font-semibold pb-4 lg:pb-4">
        {project.title}
      </h3>
      <div class="mb-4" set:html={micromark(project.subtitle)} />
      <ul class="lightning-list">
        {
          project.features?.map((feature) => (
            <li set:html={micromark(feature.body)} />
          ))
        }
      </ul>
    </div>
  </div>
</article>
<!-- </Link> -->
