---
// TYPES
import type { IService } from '@/interfaces'

// PROPS
interface Props {
  service: IService
}
const { service } = Astro.props

// COMPONENTS
import { Image } from 'astro:assets'

// VENDOR
import { micromark } from 'micromark'
---

<article class="text-center">
  <Image
    class="inline-block"
    src={service.thumbnail.url}
    width={service.thumbnail.width}
    height={service.thumbnail.height}
    alt={service.thumbnail.alternativeText || ''}
  />
  <h3 class="h3">
    {service.title}
  </h3>
  <div class="prose lh-prose-vtrim" set:html={micromark(service.subtitle)} />
</article>
