---
// TYPES
import type { IService } from '@/interfaces'

// PROPS
interface Props {
  service: IService
}
const { service } = Astro.props

// METHODS
import { markdownToHTML } from '@/utils'

// COMPONENTS
import { Button, ImageHandler } from '@/components'
---

<article class="text-center">
  <div class="thumb">
    <ImageHandler
      cssClass={['mb-3 inline-block']}
      img={service.thumbnail}
      inline
    />
  </div>
  <h3 class="pb-3 h4 lh-h4-vtrim font-semibold">
    {service.title}
  </h3>
  <div
    class="max-w-[27em] mx-auto mb-4 prose lh-prose body-1"
    set:html={markdownToHTML(service.subtitle)}
  />
  <Button
    theme="primary"
    href={`mailto:${import.meta.env.MAILTO_ADDRESS}`}
    label={service.callToAction}
  />
</article>

<style define:vars={{ offset: `${service.thumbOffsetTop}em` }}>
  .thumb {
    margin-top: var(--offset);
    @apply md:mt-0;
  }
</style>
