---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
const { globals, home } = Astro.props
interface Props {
  globals: IGlobal
  home: IHome
}

// METHODS
import { aspectRatio } from '@/utils'

// VENDOR
import { Picture } from 'astro-imagetools/components'
---

<div class="photo">
  <div
    class=`mask aspect-${aspectRatio(home?.heroMedia?.width, home?.heroMedia?.height)}`
  >
    <Picture
      src={home.heroMedia.url}
      width={home.heroMedia.width}
      height={home.heroMedia.height}
      loading="eager"
      alt={home.heroMedia.alternativeText || ''}
    />
  </div>
  <span class="photo-label photo-label-me">
    {home?.photoLabelMe}
  </span>
  <span class="photo-label photo-label-waifu">
    {home?.photoLabelWaifu}
  </span>
</div>

<style is:global>
  .photo {
    @apply relative;

    .mask {
      @apply overflow-hidden;
      @apply border-8 border-solid border-black;
      @apply bg-gray-800;
      @apply rotate-2;

      img {
        @apply w-full h-full object-cover;
      }
    }

    &-label {
      @apply absolute;
      @apply font-display;

      &-me {
        @apply top-2 right-[100%];
      }

      &-waifu {
        @apply top-3 left-[100%];
        @apply text-right;
      }
    }
  }
</style>
