---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
  home: IHome
}
const { globals, home } = Astro.props

// COMPONENTS
import { Button, ImageHandler, Link } from '@/components'

// VENDOR
import { micromark } from 'micromark'
---

<div class="mb-8 h2 lh-h2">
  <Link
    link={{
      url: '/',
    }}
  >
    <ImageHandler
      cssClass="inline-block"
      imgClass="h-[50px]"
      img={globals.logo.colorOnLight}
      fullWidth
      inline
    />
  </Link>
</div>
<br />
<div class="relative inline-block mb-8">
  <h1 class="inline-block h1 lh-h1-vtrim font-display font-bold">
    {home.title}
  </h1>
  <small class="body-1 font-display absolute top-[90%] right-[1.25em]">
    {home?.subtitle}
  </small>
  <ImageHandler
    cssClass="w-[clamp(75px,9vw,102px)] absolute -top-4 left-full ml-4"
    img={home.badge}
  />
</div>
<div
  class="hero-desc mb-outer prose lead lh-prose"
  set:html={micromark(home.description)}
/>

<div class="flex gap-1">
  <Button theme="primary" href="mailto:hi@eokic.com" label="Let's talk!" />
  <Button href="#services" label="Services" />
  <Button href="#work" label="Work" />
  <Button href="#about" label="About" />
</div>

<style is:global>
  .hero-desc {
    ul {
      padding-left: 1em;

      li {
        /*  */

        &::marker {
          @apply h3;
          content: '⚡️';
        }
      }
    }
  }
</style>
