---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
  home: IHome
}
const { globals, home } = Astro.props

// METHODS
import { markdownToHTML } from '@/utils'

// COMPONENTS
import { Button, ImageHandler } from '@/components'
---

<div class="relative inline-block mb-outer">
  <h1 class="inline-block h1 lh-h1-vtrim font-display font-bold">
    {home.title}
  </h1>
  <small class="-body-1 font-display absolute top-[90%] right-[1.25em]">
    {home?.subtitle}
  </small>
  <div class="hidden sm:block absolute -top-5 lg:-top-6 left-full ml-4 xl:ml-5">
    <ImageHandler cssClass="w-[clamp(75px,9vw,95px)]" img={home.badge} />
  </div>
</div>

<div
  id="hero-desc"
  class:list={[
    'text-start hero-card-shadow md:shadow-none will-change-transform',
    'xs:max-md:absolute xs:max-md:bottom-0 max-md:-ml-edge max-xs:-mr-edge xs:max-sm:-mr-4',
    'max-md:-mb-2 max-md:px-4 max-md:py-5 max-md:pl-edge max-md:pb-5',
    'max-md:bg-light-bg max-md:rounded-tr-lg max-md:rounded-br-lg max-md:backdrop-blur-3xl',
    'md:-mr-7 lg:mr-0',
  ]}
>
  <div
    class="hero-body mb-3 sm:mb-4 md:mb-outer prose md:lead lh-prose"
    set:html={markdownToHTML(home.description)}
  />
  <ul class="flex flex-wrap sm:gap-2 max-md:-mb-2" aria-hidden="true">
    <li>
      <Button
        theme="primary"
        href={`mailto:${import.meta.env.MAILTO_ADDRESS}`}
        label="Let's talk!"
        presentational
      />
    </li>
    <li>
      <Button href="#services" label="Services" presentational />
    </li>
    <li>
      <Button href="#work" label="Work" presentational />
    </li>
    <!-- <li class="hidden sm:inline-block">
      <Button href="#about" label="About" presentational />
    </li> -->
  </ul>
</div>

<style is:global>
  .hero-card-shadow {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06),
      3px 3px 10px 0px rgba(0, 0, 0, 0.06),
      14px 13px 19px 0px rgba(0, 0, 0, 0.07),
      30px 30px 26px 0px rgba(0, 0, 0, 0.04),
      54px 53px 30px 0px rgba(0, 0, 0, 0.01),
      85px 83px 33px 0px rgba(0, 0, 0, 0);
  }
</style>
