---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
  home: IHome
}
const { globals, home } = Astro.props

// COMPONENTS
import { ImageHandler } from '@/components'

// VENDOR
import { micromark } from 'micromark'
---

<a class="eokic-logo" href="/">
  <ImageHandler
    cssClass="inline-block"
    imgClass="h-[50px]"
    img={globals.logo.colorOnLight}
    fullWidth
    important
  />
</a>
<br />
<div class="relative inline-block mb-8">
  <h1 class="inline-block h1 lh-h1-vtrim font-display font-bold">
    {home.title}
  </h1>
  <small class="body-1 font-display absolute top-[90%] right-[1.25em]">
    {home?.subtitle}
  </small>
  <ImageHandler
    cssClass="w-[clamp(75px,9vw,102px)] absolute -top-4 left-full ml-4"
    img={home.badge}
  />
</div>
<div
  class="hero-desc prose lead lh-prose"
  set:html={micromark(home.description)}
/>

<style is:global>
  .eokic-logo {
    @apply inline-block mb-8;
  }
</style>
