---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'
interface Props {
  globals: IGlobal
  home: IHome
}

// METHODS
// import fetchApi from '@/lib/strapi'
import { aspectRatio } from '@/utils'

// COMPONENTS
import { Image } from 'astro:assets'

// VENDOR
import { micromark } from 'micromark'

// PROPS
const { globals, home } = Astro.props
---

<a class="eokic-logo" href="/">
  <Image
    src={globals.logo.colorOnLight.url}
    width={globals.logo.colorOnLight.width}
    height={globals.logo.colorOnLight.height}
    class="inline-block"
    alt="Elmas Okić logo"
  />
</a>
<br />
<div class="relative inline-block mb-8">
  <h1 class="inline-block h1 lh-h1-vtrim font-display font-bold">
    {home.title}
  </h1>
  <small class="body-1 font-display absolute top-[90%] right-[1.25em]">
    {home?.subtitle}
  </small>
  <Image
    class="w-[100px] absolute -top-4 left-[19em] ml-4"
    src={home.badge.url}
    width={home.badge.width}
    height={home.badge.height}
    alt="Nielsen/Norman UX Certification badge"
  />
</div>
<div
  class="hero-desc prose lead lh-prose"
  set:html={micromark(home.description)}
/>

<style is:global>
  .eokic-logo {
    @apply inline-block mb-8;
  }
</style>
