---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
  home: IHome
}
const { globals, home } = Astro.props

// COMPONENTS
import { ImageHandler, Link, Section } from '@/components'
import { Aside, Clients, Main } from './'
---

<Section id="hero" cssClass={['pt-3']}>
  <div class="mb-section h2 lh-h2">
    <Link
      link={{
        url: '/',
      }}
    >
      <ImageHandler
        cssClass="inline-block"
        imgClass="h-[50px]"
        img={globals.logo.colorOnLight}
        fullWidth
        inline
      />
    </Link>
  </div>
  <div class="hero relative grid grid-cols-5 gap-5">
    <main class="hero-left z-2 col-span-12 md:col-span-3">
      <Main {globals} {home} />
    </main>
    <aside
      class:list={[
        'hero-right relative z-1 col-span-12 md:col-span-2',
        'flex justify-end md:-mt-10',
      ]}
    >
      <Aside {globals} {home} />
    </aside>
  </div>
  <div slot="after-container" class="mt-outer">
    <Clients />
  </div>
</Section>

<style is:global>
  .hero {
    /*  */

    &-left {
      /*  */
    }

    &-right {
      /*  */
    }
  }
</style>
