---
// TYPES
import type { IGlobal, IHome } from '@/interfaces'

// PROPS
interface Props {
  globals: IGlobal
  home: IHome
}
const { globals, home } = Astro.props

// COMPONENTS
import { ImageHandler, Link, Section } from '@/components'
import { Aside, Clients, Main } from './'
---

<Section id="hero" cssClass="pt-2 sm:pt-3 md:pt-5 lg:pt-7 xl:pt-8">
  <!-- Logo -->
  <div
    class="mb-6 sm:mb-7 md:mb-outer lg:mb-section h2 lh-h2 text-center md:text-start"
  >
    <Link
      link={{
        url: '/',
      }}
    >
      <ImageHandler
        cssClass="inline-block"
        imgClass="h-[50px]"
        img={globals.logo.colorOnLight}
        fullWidth
        inline
      />
    </Link>
  </div>

  <!-- 2-column layout -->
  <div class="relative grid grid-cols-5 gap-5">
    <!-- Left: main content -->
    <main class="z-2 col-span-12 md:col-span-3 text-center md:text-start">
      <Main {globals} {home} />
    </main>

    <!-- Right: photo -->
    <aside
      class:list={[
        'invisible max-xs:absolute max-xs:pointer-events-none xs:visible',
        'relative z-1 col-span-12 md:col-span-2 lg:pr-6 xl:pr-7 2xl:pr-0',
        'max-lg:flex justify-end -mt-4 md:-mt-9 lg:-mt-10 xl:-mt-11',
      ]}
    >
      <Aside {globals} {home} />
    </aside>
  </div>

  <!-- Clients -->
  <div slot="after-container" class="mt-outer">
    <Clients />
  </div>
</Section>
