---
// TYPES
import type { IGlobal, IHome, ITestimonial } from '@/interfaces'

// METHODS
import fetchApi from '@/lib/strapi'

// COMPONENTS
import { BaseLayout } from '@/layouts'
import { Hero } from '@/components/home'
import {
  Section,
  ProjectTeaser,
  ServiceTeaser,
  Testimonial,
} from '@/components'

/* --------------------------------------------------------------------------
  DATA
-------------------------------------------------------------------------- */
const globals = await fetchApi<IGlobal>({
  endpoint: 'global',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

const home = await fetchApi<IHome>({
  endpoint: 'home',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

const testimonials = await fetchApi<ITestimonial[]>({
  endpoint: 'testimonials',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})
---

<BaseLayout title="Welcome to Astro." pageClass="pg-home">
  <main id="main-content" class="main">
    <Hero {globals} {home} />

    <Section
      id="services"
      title={home?.sectionServices?.title}
      subtitle={home?.sectionServices?.subtitle}
      alt
    >
      <div class="max-md:divide-y grid gap-5 md:grid-cols-3 md:gap-6">
        {home.services?.map((service) => <ServiceTeaser {service} />)}
      </div>
    </Section>

    <Section
      id="work"
      title={home?.sectionWork?.title}
      subtitle={home?.sectionWork?.subtitle}
    >
      <div class="flex flex-col gap-3 md:gap-4 lg:gap-5 mb-inner">
        {home.projects?.map((project) => <ProjectTeaser {project} />)}
      </div>
      <div class="grid md:grid-cols-3 gap-6">
        {testimonials?.map((testimonial) => <Testimonial {testimonial} />)}
      </div>
    </Section>

    <Section
      id="about"
      title={home?.sectionAbout?.title}
      subtitle={home?.sectionAbout?.subtitle}
      alt
    >
      TODO: ABOUT
    </Section>
  </main>
</BaseLayout>
