---
// ----------------------------------------------------------------------------

// TYPES
import type { IGlobal, IHome, ITestimonial } from '@/interfaces'

// METHODS
import fetchApi from '@/lib/strapi'

// COMPONENTS
// import { Debug } from 'astro/components'
import { BaseLayout } from '@/layouts'
import { Hero } from '@/components/home'

const globals = await fetchApi<IGlobal>({
  endpoint: 'global',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

const home = await fetchApi<IHome>({
  endpoint: 'home',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

const testimonials = await fetchApi<ITestimonial[]>({
  endpoint: 'testimonials',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

// ----------------------------------------------------------------------------
---

<BaseLayout title="Welcome to Astro.">
  <main class="main">
    <Hero {globals} {home} />

    <section id="services" class="section -alt">
      <div class="container">
        <header class="section-head">
          <h2 class="section-title">{home?.sectionServices?.title}</h2>
          <h3 class="section-subtitle">{home?.sectionServices?.subtitle}</h3>
        </header>
        <div class="section-body">TODO: SERVICES</div>
      </div>
    </section>

    <section id="work" class="section">
      <div class="container">
        <header class="section-head">
          <h2 class="section-title">{home?.sectionWork?.title}</h2>
          <h3 class="section-subtitle">{home?.sectionWork?.subtitle}</h3>
        </header>
        <div class="section-body">
          {
            testimonials?.map((testimonial) => (
              <blockquote>
                <p>{testimonial.quote}</p>
                <footer>
                  <a href="#">{testimonial.person}</a>
                  <br />
                  <small>{testimonial.position}</small>
                </footer>
              </blockquote>
            ))
          }
        </div>
      </div>
    </section>

    <section id="about" class="section">
      <div class="container">
        <header class="section-head">
          <h2 class="section-title">{home?.sectionAbout?.title}</h2>
          <h3 class="section-subtitle">{home?.sectionAbout?.subtitle}</h3>
        </header>
        <div class="section-body">TODO: ABOUT</div>
      </div>
    </section>

    <!-- <Card
      href="https://docs.astro.build/"
      title="Documentation"
      body="Learn how Astro works and explore the official API docs."
    /> -->
  </main>
</BaseLayout>

<style>
  /*  */
</style>
