---
// TYPES
import type { IClient, IGlobal, IHome } from '@/interfaces'
interface Props {
  globals: IGlobal
}

// METHODS
import fetchApi from '@/lib/strapi'
import { micromark } from 'micromark'

// COMPONENTS
import { Img } from 'astro-imagetools/components'
import { Debug } from 'astro/components'

// STYLES
// import '@/styles/home.css'

// PROPS
const { globals } = Astro.props

const home = await fetchApi<IHome>({
  endpoint: 'home',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

const clients = await fetchApi<IClient[]>({
  endpoint: 'clients',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

// ============================================================================
---

<div>
  <div class="container mx-auto">
    <div class="hero">
      <!-- LEFT COLUMN -->
      <div class="hero-left">
        <a href="/">
          <img src={globals.logo.colorOnLight.url} />
        </a>
        <h1 class="h1 font-display font-bold">
          {home.title}
        </h1>
        <div class="hero-desc prose" set:html={micromark(home.description)} />
      </div>

      <!-- RIGHT COLUMN -->
      <div class="hero-right">
        <div class="photo">
          <div class="mask">
            <img src={home.heroMedia.url} />
            <!-- <Img src={home.heroMedia.url} alt="A random image" /> -->
          </div>
          <span class="photo-label photo-label-me">
            {home.photoLabelMe}
          </span>
          <span class="photo-label photo-label-waifu">
            {home.photoLabelWaifu}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />
<Debug {home} />

<style lang="scss" is:global>
  // ==========================================================================

  .hero {
    @apply grid grid-cols-5 gap-4;

    &-left {
      @apply col-span-12 md:col-span-3;
    }

    &-right {
      @apply col-span-12 md:col-span-2;

      .photo {
        @apply relative;

        .mask {
          @apply aspect-[5/7] overflow-hidden;
          @apply border-8 border-solid border-black;
          @apply bg-gray-800;
          @apply rotate-2;

          img {
            @apply w-full h-full object-cover;
          }
        }

        &-label {
          @apply absolute;
          @apply font-display;

          &-me {
            @apply top-2 right-[100%];
          }

          &-waifu {
            @apply top-3 left-[100%];
            @apply text-right;
          }
        }
      }
    }
  }
</style>
