---
// TYPES
import type { IGlobal } from '@/interfaces'
interface Props {
  title: string
}

// PROPS
const { title } = Astro.props

// METHODS
import fetchApi from '@/lib/strapi'
import { googleFonts } from '@/utils'

// COMPONENTS
import { Button } from '@/components'
import { ViewTransitions } from 'astro:transitions'

// DATA
const globals = await fetchApi<IGlobal>({
  endpoint: 'global',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

// STYLES
import '@/styles/eokic.css'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover"
    />
    <title>{title} | {globals.siteName}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href={googleFonts({
        family: ['Kalam'],
        weight: ['400', '700'],
      })}
    />
    <ViewTransitions />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="no-js">
    <!-- Accessibilty links -->
    <div class="absolute top-6 left-6">
      <Button theme="a11y" href="#menu" label="Skip to navigation" />
      <Button theme="a11y" href="#main" label="Skip to content" />
    </div>

    <script is:inline>
      document.body.classList.remove('no-js')
      document.body.classList.add('js')
      document.addEventListener('DOMContentLoaded', () => {
        document.body.classList.add('domReady')
      })
      setTimeout(() => {
        document.body.classList.add('vfxReady')
      }, 250)
    </script>

    <script is:inline>
      // document.querySelectorAll('[id^="st-image-img-"]').forEach((element) => {
      //   if (element.complete) {
      //     console.log(111)
      //   } else {
      //     console.log(222)
      //   }
      // })

      function onStrapiImageLoad(localID) {
        // console.log('Loaded', localID)
        document.getElementById(`st-image-${localID}`).classList.add('-loaded')
        setTimeout(() => {
          document.getElementById(`placeholder-${localID}`).style.display =
            'none'
        }, 1000)
      }
    </script>

    <!-- Body -->
    <slot />

    <!-- Secondary scripts -->
    <script src="@/assets/main.ts"></script>
  </body>
</html>
