---
// TYPES
import type { IGlobal, ISEO } from '@/interfaces'
interface Props {
  seo?: ISEO
  pageClass?: string
}

// PROPS
const { seo, pageClass } = Astro.props

// METHODS
import fetchApi from '@/lib/strapi'
import { googleFonts, markdownToHTML } from '@/utils'

// COMPONENTS
import { Button, Link, Header } from '@/components'
import { Noise } from '@/components/vfx'
import { ViewTransitions } from 'astro:transitions'

// DATA
const globals = await fetchApi<IGlobal>({
  endpoint: 'global',
  query: { populate: 'deep' },
  wrappedByKey: 'data',
})

// MEDIA
import faviconSVG from '@/assets/favicon/favicon.svg'
import faviconICO from '@/assets/favicon/favicon.ico'
import touchIcon from '@/assets/favicon/apple-touch-icon.png'

// STYLES
import '@/styles/eokic.pcss'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover"
    />
    <title>{seo?.metaTitle || globals.seo.metaTitle}</title>

    <!-- Favicon -->
    <link href={faviconICO} rel="icon" sizes="32x32" />
    <link href={faviconSVG.src} rel="icon" type="image/svg+xml" />
    <link href={touchIcon.src} rel="apple-touch-icon" />

    <!-- Other -->
    <ViewTransitions />
    <meta
      name="description"
      content={seo?.metaDescription || globals.seo.metaDescription}
    />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta
      property="og:title"
      content={seo?.metaTitle || globals.seo.metaTitle}
    />
    <meta
      property="og:description"
      content={seo?.metaDescription || globals.seo.metaDescription}
    />
    <meta
      property="og:image"
      content={Astro.site?.toString().slice(0, -1) +
        (seo?.metaImage?.url || globals?.seo?.metaImage?.url || '')}
    />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body id="top" class:list={[pageClass, 'no-js']}>
    <!-- Accessibilty links -->
    <div class="absolute z-30 top-6 left-6">
      <Button theme="a11y" href="#main" label="Skip to content" />
    </div>

    <script is:inline>
      // JS detection
      document.body.classList.remove('no-js')
      document.body.classList.add('js')
      document.addEventListener('DOMContentLoaded', () => {
        document.body.classList.add('domReady')
      })

      // VFX marker
      setTimeout(() => {
        document.body.classList.add('vfxReady')
      }, 100)

      // App globals
      window.App = {
        prefersReducedMotion: window.matchMedia(
          '(prefers-reduced-motion: reduce)'
        ).matches,
        route: {
          isHomePage: document.body.classList.contains('pg-home'),
          isProjectPage: document.body.classList.contains('pg-project'),
        },
      }
    </script>

    <!-- -------------------------------------------------------------------------
      HEADER
    -------------------------------------------------------------------------- -->
    <Header {globals} />

    <script is:inline>
      function onStrapiImageLoad(localID) {
        document.getElementById(`st-image-${localID}`).classList.add('-loaded')
        setTimeout(() => {
          if (!document.getElementById(`placeholder-${localID}`)) return
          document.getElementById(`placeholder-${localID}`).style.display =
            'none'
        }, 1000)
      }
    </script>

    <!-- -------------------------------------------------------------------------
      NOISE VFX
    -------------------------------------------------------------------------- -->
    <Noise />
    <div
      class="fixed top-0 left-0 w-full h-full opacity-10 pointer-events-none"
      style="filter: url(#noise); mix-blend-mode: multiply;"
    >
    </div>

    <!-- -------------------------------------------------------------------------
      BODY
    -------------------------------------------------------------------------- -->
    <slot />

    <!-- Fonts -->
    <style is:inline>
      @font-face {
        font-display: swap;
        font-family: 'Kalam';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/kalam-v16-latin_latin-ext-regular.woff2')
          format('woff2');
      }
      @font-face {
        font-display: swap;
        font-family: 'Kalam';
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/kalam-v16-latin_latin-ext-700.woff2') format('woff2');
      }
    </style>

    <!-- -------------------------------------------------------------------------
      FOOTER
    -------------------------------------------------------------------------- -->
    <footer class="mt-inner mb-section">
      <div class="container">
        <div class="border-t border-dashed border-slate-300 pt-inner">
          <div class="body-1 text-center">
            <ul class="mb-5 md:mb-6 inline-flex gap-3 sm:gap-4">
              {
                globals.footerLinks?.map((link) => (
                  <li>
                    <Link link={link} />
                  </li>
                ))
              }
            </ul>
          </div>
          <div
            class="max-w-none prose -text-body-1 lh-prose text-slate-500 lg:text-center"
            set:html={markdownToHTML(globals.footer)}
          />
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="@/assets/main.ts"></script>
    <script src="flying-focus/flying-focus.js"></script>
  </body>
</html>
